.dark-mode-switch-container {
    @include displayFlex();
    @include flexProperties(space-between, center);
    gap: 5px;

    .toggle {
        cursor: pointer;
        @include displayFlex();
        @include flexProperties(space-between, center);
        gap: 10px;
    }

    .toggle-switch {
        display: inline-block;
        background: #ccc;
        border-radius: 16px;
        width: 45px;
        height: 26px;
        position: relative;
        vertical-align: middle;
        transition: background 0.25s;
    }

    .toggle-switch:before,
    .toggle-switch:after {
        content: "";
    }

    .toggle-switch:before {
        display: block;
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
        width: 20px;
        height: 20px;
        position: absolute;
        top: 3px;
        left: 3px;
        transition: left 0.25s;
    }

    .toggle:hover .toggle-switch:before {
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    }

    .toggle-checkbox:checked+.toggle-switch {
        background: #ED1C25;
    }

    .toggle-checkbox:checked+.toggle-switch:before {
        left: 22px;
    }

    .toggle-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .toggle-label {
        font-size: 0.5rem;
        color: var(--color-text);
        position: relative;
    }
}