@import '../abstracts/mixins';
@import '../base/colors';

$background-color: #FFFFFF;

header {
    @include displayFlex();
    @include flexProperties(space-between, center);
    width: 100%;
    height: 50px;
    background-color: var(--color-background);
    padding: 10px 10px;
    box-sizing: border-box;

    .left-container {
        @include displayFlex();
        @include flexProperties(space-between, center);
        gap: 20px;
    }

    .dark-mode-switch-container {
        @include displayFlex();
        @include flexProperties(space-between, center);
        gap: 5px;

        // label {
        //     font-size: 0.5rem;
        //     color: var(--color-text);
        // }

        // input {
        //     border-radius: 20px;
        // }

        .toggle {
            cursor: pointer;
            display: inline-block;
        }

        .toggle-switch {
            display: inline-block;
            background: #ccc;
            border-radius: 16px;
            width: 58px;
            height: 32px;
            position: relative;
            vertical-align: middle;
            transition: background 0.25s;
        }

        .toggle-switch:before,
        .toggle-switch:after {
            content: "";
        }

        .toggle-switch:before {
            display: block;
            background: linear-gradient(to bottom, #fff 0%, #eee 100%);
            border-radius: 50%;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
            width: 24px;
            height: 24px;
            position: absolute;
            top: 4px;
            left: 4px;
            transition: left 0.25s;
        }

        .toggle:hover .toggle-switch:before {
            background: linear-gradient(to bottom, #fff 0%, #fff 100%);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
        }

        .toggle-checkbox:checked+.toggle-switch {
            background: #56c080;
        }

        .toggle-checkbox:checked+.toggle-switch:before {
            left: 30px;
        }

        .toggle-checkbox {
            position: absolute;
            visibility: hidden;
        }

        .toggle-label {
            margin-left: 5px;
            position: relative;
            top: 2px;
        }
    }

    a {
        height: 30px;
    }

    #title {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        color: var(--color-text);
    }

    svg {
        width: 30px;
        height: 30px;
    }

    svg:last-of-type {
        display: none
    }

    #user-info {
        @include displayFlex();
        @include flexProperties(flex-start, center);
        gap: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.5rem;
        color: var(--color-text);
    }
}

//// Header responsive styles ////

@media (max-width: 768px) {
    header {
        svg:last-of-type {
            display: block;
        }
    }

    #user-info {
        @include displayFlex(row-reverse);
        @include flexProperties(flex-end, center);
        gap: 10px;
        font-size: 0.5rem;
        color: var(--color-text);
    }

    #prepend-container {
        @include displayFlex();
        @include flexProperties(space-between, center);
        padding: 18px;
    }

    .dark-mode-switch-container {
        @include displayFlex();
        @include flexProperties(space-between, center);
        gap: 5px;

        label {
            font-size: 0.5rem;
            color: var(--color-text);
        }

        input {
            border-radius: 20px;
        }
    }
}