@import '../abstracts/mixins';

$background-color: #FFFFFF;

aside {
    height: 100%;
    width: 20%;
    background-color: var(--color-background);
    border-radius: 20px;
}

nav {
    height: 100%;
    padding: 39px 18px;
    box-sizing: border-box;

    ul {
        @include displayFlex(column);
        gap: 10px;
        list-style-type: none;
        height: 100%;
    }

    li {
        border-radius: 10px;

        a {
            display: block;
            text-decoration: none;
            color: var(--color-text);
            padding: 15px 17px;
            border-radius: 10px;
            font-size: 0.5rem;
        }

        svg {
            margin-right: 5px;
        }

        // Active nav link styles

        .active {
            background-color: #ED1C25;
            color: #FFFFFF;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

            svg path {
                fill: #FFFFFF;
            }
        }
    }

    li:last-of-type {
        margin-top: auto;
    }

    li:hover {
        background-color: #ED1C25;
        cursor: pointer;

        a {
            color: #FFFFFF;
        }

        svg path {
            fill: #FFFFFF;
        }
    }
}

//// Navigation responsive styles ////

@media (max-width: 768px) {
    nav {
        border-radius: 0;
        padding-top: 60px;
    }

    aside {
        position: fixed;
        left: -100%;
        top: 50px;
        margin: 10px;
        min-width: calc(100% - 20px);
        height: calc(100% - 70px);
        z-index: 1;
        transition: 0.3s;
    }

    aside.active {
        left: 0;
    }
}

@media (max-width: 1366px){
    aside {
        width: 30%;
    }
}