//// Pop up styles ////

#pop-up {
    @include displayFlex(column);
    @include flexProperties(space-between, flex-end);
    position: absolute;
    visibility: hidden;
    z-index: 1;
    width: 260px;
    height: 80px;
    background-color: var(--color-background);
    box-shadow: var(--color-boxshadow);
    border-radius: 4px;
    padding: 16px;
    font-size: 0.5rem;
    white-space: normal;
    @include fadeIn();

    p {
        display: inline;
        text-align: left;
        width: 100%;
        line-height: 25px;
        color: var(--color-text);
    }

    // Pop up buttons styles

    .pop-up-buttons {
        @include displayFlex();
        @include flexProperties(flex-end);
        gap: 20px;

        #confirm-btn {
            @include popUpButton(#ED1C25, #FFFFFF);
        }

        #cancel-btn {
            @include popUpButton(#FFFFFF, #ED1C25);
        }
    }
}

// @keyframes popUpFadeIn {
//     0% {opacity: 0%}
//     100% {opacity: 100%}
// }

//// Pop up pointer (arrow) styles ////

.top-middle-pointer::before {
    @include popUpPointerPosition(-10px, 145px, 0deg);
}

.top-right-pointer::before {
    @include popUpPointerPosition(-10px, 260px, 0deg);
}

.bottom-middle-pointer::before {
    @include popUpPointerPosition(112px, 145px, 180deg);
}

.bottom-right-pointer::before {
    @include popUpPointerPosition(112px, 260px, 180deg);
}