@mixin displayFlex($flexDirection: row) {
    display: flex;
    flex-direction: $flexDirection;
}

@mixin flexProperties($justifyContent: flex-start, $alignItems: flex-start) {
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin popUpPointerPosition($top, $left, $degrees) {
    content: '';
    position: absolute;
    top: $top;
    left: $left;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #FFFFFF transparent;
    transform: rotate($degrees);
}

@mixin popUpButton($backgroundColor, $textColor) {
    @include displayFlex();
    @include flexProperties(center, center);
    width: 57px;
    height: 22px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: $backgroundColor;
    text-decoration: none;
    font-size: 14px;
    color: $textColor;
}