@use 'global';
@use 'header';
@use 'navigation';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$background-color: #FFFFFF;

@mixin displayFlex($flexDirection: row) {
    display: flex;
    flex-direction: $flexDirection;
}

@mixin flexProperties($justifyContent: flex-start, $alignItems: flex-start) {
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin popUpPointerPosition($top, $left, $degrees) {
    content: '';
    position: absolute;
    top: $top;
    left: $left;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #FFFFFF transparent;
    transform: rotate($degrees);
}

@mixin popUpButton($backgroundColor, $textColor) {
    @include displayFlex();
    @include flexProperties(center, center);
    width: 57px;
    height: 22px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: $backgroundColor;
    text-decoration: none;
    font-size: 14px;
    color: $textColor;
}

//// Body and main container styles ////

body {
    height: 100vh;
    background-color: #F0F2F3;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#main-container {
    @include displayFlex();
    height: calc(100vh - 110px);
    gap: 30px;
    padding: 30px 20px;
}

main {
    background-color: $background-color;
    width: 80%;
    border-radius: 20px;
    padding: 23px 18px 39px 18px;

    // Search and add item styles

    .search-add-container {
        @include displayFlex();
        @include flexProperties(flex-end, flex-end);
        gap: 15px;

        // Search styles

        .search {
            @include displayFlex();
            @include flexProperties(center, center);
            gap: 10px;
            border-bottom: 1px solid #000000;

            #search-btn {
                background: none;
                cursor: pointer;

                svg {
                    height: 11px;
                    width: 11px;
                }
            }
        }

        form {
            display: flex;
            height: 20px;

            input {
                font-size: 14px;
                width: 60%;
                outline: none;
            }
        }

        // Add item button styles

        #add-btn {
            font-size: 14px;
            line-height: 24px;
            padding: 5px 24px;
            background-color: #2E7D32;
            border-radius: 4px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
            font-family: 'Roboto', sans-serif;
            color: #FFFFFF;
            cursor: pointer;
            width: 150px;
        }
    }

    // Items table styles

    #table-wrapper {
        overflow-x: auto;
        white-space: nowrap;
        margin-top: 39px;
        border: 1px solid #B3B3B3;
        border-radius: 4px;
    }

    table {
        width: 100%;
        table-layout: fixed;

        th {
            font-size: 16px;
            table-layout: fixed;
        }

        tr {
            border-bottom: 1px solid #B3B3B3;
        }

        td {
            width: 300px;
            font-size: 14px;
            table-layout: fixed;
            width: 20px;
            overflow: hidden;
            word-wrap: break-word;
        }

        th,
        td {
            padding: 20px;
            text-align: left;
        }

        .table-actions {
            @include displayFlex();
            gap: 20px;

            button {
                width: 12px;
                height: 12px;
                background: none;
                cursor: pointer;
            }
        }
    }

    #pagination {
        border-left: 1px solid #B3B3B3;
        border-right: 1px solid #B3B3B3;
        border-bottom: 1px solid #B3B3B3;
        height: 57px;
    }
}

//// Modal styles ////

#add-modal,
#modify-modal {
    position: relative;
    width: 550px;
    height: 600px;
    padding: 55px 20px 55px 50px;
    background-color: $background-color;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;

    h1 {
        font-size: 0.8rem;
        font-weight: 700;
    }

    // Modal form styles

    form {
        @include displayFlex(column);
        gap: 50px;
        padding-top: 50px;

        .first-row {
            @include displayFlex();
            gap: 20px;

            // Form first column styles

            .first-column {
                @include displayFlex(column);
                gap: 35px;
                width: 50%;

                .input-div {
                    position: relative;

                    input:focus~.floating-label,
                    input:not(:focus):valid~.floating-label {
                        top: -5px;
                        bottom: 10px;
                        font-size: 0.5rem;
                        opacity: 1;
                    }

                    span {
                        font-size: 0.5rem;
                    }

                    input {
                        font-size: 0.5rem;
                        width: 100%;
                        height: 30px;
                    }

                    .floating-label {
                        position: absolute;
                        pointer-events: none;
                        left: 0px;
                        top: 15px;
                        transition: 0.2s ease all;
                    }
                }

                input {
                    width: 100%;
                    height: 30px;
                    font-size: 0.5rem;
                    border-bottom: 1px solid #9A9A9A;
                    outline: none;

                    #initial-option:checked {
                        color: #2E7D32;
                    }
                }

                textarea {
                    font-family: 'Inter', sans-serif;
                    font-size: 0.5rem;
                    border-bottom: 1px solid #9A9A9A;
                    outline: none;
                    resize: none;
                }

                select {
                    width: 100%;
                    height: 30px;
                    font-size: 0.5rem;
                    border-bottom: 1px solid #9A9A9A;
                    outline: none;
                    color: #757575;

                    option {
                        color: #000000;
                    }
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    opacity: 1;
                    background: none
                }
            }

            // Form second column styles

            .second-column {
                @include displayFlex(column);
                @include flexProperties(center, center);
                gap: 20px;
                width: 50%;

                // Modal image preview styles

                img {
                    width: 260px;
                    height: 150px;
                }

                // Upload and remove button styles

                .upload-remove-btn {
                    @include displayFlex(column);
                    gap: 20px;

                    .hidden-upload-input {
                        display: none;
                    }

                    label {
                        width: 120px;
                        text-align: center;
                        font-size: 0.6rem;
                        font-weight: 700;
                        padding: 6px 0;
                        color: #FFFFFF;
                        background-color: #ED6C02;
                        border-radius: 4px;
                    }

                    label:hover {
                        cursor: pointer;
                    }

                    button {
                        width: 120px;
                        font-size: 0.6rem;
                        font-weight: 700;
                        padding: 6px 0;
                        color: #FFFFFF;
                        background-color: #ED1C25;
                        border-radius: 4px;
                    }

                    button:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        // Form submit (add item) button styles

        .second-row {
            @include displayFlex();
            @include flexProperties(center, center);

            input {
                font-size: 0.6rem;
                font-weight: 700;
                padding: 7px 57px;
                color: #FFFFFF;
                background-color: #2E7D32;
                border-radius: 4px;
            }

            input:hover {
                cursor: pointer;
            }
        }
    }

    // Modal close button styles

    .add-item-close-btn, .modify-item-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 26px;
        background: none;
    }

    .add-item-close-btn:hover, .modify-item-close-btn:hover {
        cursor: pointer;
    }
}

//// Modal overlay styles ////

.add-modal-overlay, .modify-modal-overlay {
    @include flexProperties(center, center);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    header {
        svg:last-of-type {
            display: block;
        }
    }

    #user-info {
        @include displayFlex(row-reverse);
        @include flexProperties(flex-start, center);
        position: absolute;
        gap: 10px;
        font-size: 0.5rem;
        top: 20px;
        left: 70px;
        transform: translate(-50%, 0);
    }

    nav {
        border-radius: 0;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    aside {
        position: fixed;
        left: -100%;
        top: 50px;
        min-width: 100%;
        z-index: 1;
        transition: 0.3s;
    }

    aside.active {
        left: 0;
    }

    main {
        width: 100%;
    }

    table {
        overflow-x: scroll;
    }

    #table-wrapper {
        overflow-x: scroll;
    }

    #add-modal,
    #modify-modal {
        width: calc(100vw - 80px);
        height: calc(100vh - 80px);
        padding: 20px;

        form {
            padding-top: 20px;

            .first-row {
                @include displayFlex(column);
                @include flexProperties(center, center);

                .first-column {
                    gap: 25px
                }

                .second-column {
                    .upload-remove-btn {
                        @include displayFlex(row);
                    }
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    aside {
        width: 30%;
    }
}