@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 30px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  padding: 10px 10px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
header #title {
  font-size: 1rem;
}
header svg {
  width: 30px;
  height: 30px;
}
header svg:last-of-type {
  display: none;
}
header #user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 0.5rem;
}

aside {
  height: 100%;
  width: 20%;
  background-color: #FFFFFF;
  border-radius: 20px;
}

nav {
  height: 100%;
  padding: 39px 18px;
  box-sizing: border-box;
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  height: 100%;
}
nav li {
  border-radius: 10px;
}
nav li a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 15px 17px;
  border-radius: 10px;
  font-size: 0.5rem;
}
nav li svg {
  margin-right: 5px;
}
nav li .active {
  background-color: #ED1C25;
  color: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
nav li .active svg path {
  fill: #FFFFFF;
}
nav li:last-of-type {
  margin-top: auto;
}
nav li:hover {
  background-color: #ED1C25;
  cursor: pointer;
}
nav li:hover a {
  color: #FFFFFF;
}
nav li:hover svg path {
  fill: #FFFFFF;
}

body {
  height: 100vh;
  background-color: #F0F2F3;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

#main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 110px);
  gap: 30px;
  padding: 30px 20px;
}

main {
  background-color: #FFFFFF;
  width: 80%;
  border-radius: 20px;
  padding: 23px 18px 39px 18px;
  position: relative;
}
main .search-add-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
}
main .search-add-container .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #000000;
}
main .search-add-container .search #search-btn {
  background: none;
  cursor: pointer;
}
main .search-add-container .search #search-btn svg {
  height: 11px;
  width: 11px;
}
main .search-add-container form {
  display: flex;
  height: 20px;
}
main .search-add-container form input {
  font-size: 14px;
  width: 60%;
  outline: none;
}
main .search-add-container #add-btn {
  font-size: 14px;
  line-height: 24px;
  padding: 5px 24px;
  background-color: #2E7D32;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  cursor: pointer;
  width: 150px;
}
main #table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 39px;
  border: 1px solid #B3B3B3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: calc(100vh - 282px);
  overflow: scroll;
}
main table {
  min-width: 100%;
  border-collapse: collapse;
  overflow: scroll;
}
main table th {
  font-size: 16px;
  border-bottom: 1px solid #B3B3B3;
}
main table tr {
  border-bottom: 1px solid #B3B3B3;
  height: 10%;
}
main table tr:last-of-type {
  border-bottom: none;
}
main table td {
  position: relative;
  font-size: 14px;
}
main table th,
main table td {
  padding: 20px;
  text-align: left;
}
main table .table-actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main table .table-actions button {
  position: relative;
  width: 12px;
  height: 12px;
  background: none;
  cursor: pointer;
}
main table .table-actions button > svg {
  pointer-events: none;
}
main #pagination {
  border-bottom: 1px solid #B3B3B3;
  border-left: 1px solid #B3B3B3;
  border-right: 1px solid #B3B3B3;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 57px;
}

#add-modal,
#modify-modal {
  display: none;
  position: relative;
  width: 550px;
  height: 600px;
  padding: 55px 20px 55px 50px;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}
#add-modal h1,
#modify-modal h1 {
  font-size: 0.8rem;
  font-weight: 700;
}
#add-modal form,
#modify-modal form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 50px;
}
#add-modal form .first-row,
#modify-modal form .first-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#add-modal form .first-row .first-column,
#modify-modal form .first-row .first-column {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 50%;
}
#add-modal form .first-row .first-column .input-div,
#modify-modal form .first-row .first-column .input-div {
  position: relative;
}
#add-modal form .first-row .first-column .input-div input:focus ~ .floating-label,
#add-modal form .first-row .first-column .input-div input:not(:focus):valid ~ .floating-label,
#modify-modal form .first-row .first-column .input-div input:focus ~ .floating-label,
#modify-modal form .first-row .first-column .input-div input:not(:focus):valid ~ .floating-label {
  top: -5px;
  bottom: 10px;
  font-size: 0.5rem;
  opacity: 1;
}
#add-modal form .first-row .first-column .input-div span,
#modify-modal form .first-row .first-column .input-div span {
  font-size: 0.5rem;
}
#add-modal form .first-row .first-column .input-div input,
#modify-modal form .first-row .first-column .input-div input {
  font-size: 0.5rem;
  width: 100%;
  height: 30px;
}
#add-modal form .first-row .first-column .input-div .floating-label,
#modify-modal form .first-row .first-column .input-div .floating-label {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 15px;
  transition: 0.2s ease all;
}
#add-modal form .first-row .first-column input,
#modify-modal form .first-row .first-column input {
  width: 100%;
  height: 30px;
  font-size: 0.5rem;
  border-bottom: 1px solid #9A9A9A;
  outline: none;
}
#add-modal form .first-row .first-column input #initial-option:checked,
#modify-modal form .first-row .first-column input #initial-option:checked {
  color: #2E7D32;
}
#add-modal form .first-row .first-column textarea,
#modify-modal form .first-row .first-column textarea {
  font-family: "Inter", sans-serif;
  font-size: 0.5rem;
  border-bottom: 1px solid #9A9A9A;
  outline: none;
  resize: none;
}
#add-modal form .first-row .first-column select,
#modify-modal form .first-row .first-column select {
  width: 100%;
  height: 30px;
  font-size: 0.5rem;
  border-bottom: 1px solid #9A9A9A;
  outline: none;
  color: #757575;
}
#add-modal form .first-row .first-column select option,
#modify-modal form .first-row .first-column select option {
  color: #000000;
}
#add-modal form .first-row .first-column input[type=number]::-webkit-inner-spin-button,
#add-modal form .first-row .first-column input[type=number]::-webkit-outer-spin-button,
#modify-modal form .first-row .first-column input[type=number]::-webkit-inner-spin-button,
#modify-modal form .first-row .first-column input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  background: none;
}
#add-modal form .first-row .second-column,
#modify-modal form .first-row .second-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
}
#add-modal form .first-row .second-column img,
#modify-modal form .first-row .second-column img {
  width: 260px;
  height: 150px;
}
#add-modal form .first-row .second-column .upload-remove-btn,
#modify-modal form .first-row .second-column .upload-remove-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#add-modal form .first-row .second-column .upload-remove-btn .hidden-upload-input,
#modify-modal form .first-row .second-column .upload-remove-btn .hidden-upload-input {
  display: none;
}
#add-modal form .first-row .second-column .upload-remove-btn label,
#modify-modal form .first-row .second-column .upload-remove-btn label {
  width: 120px;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 700;
  padding: 6px 0;
  color: #FFFFFF;
  background-color: #ED6C02;
  border-radius: 4px;
}
#add-modal form .first-row .second-column .upload-remove-btn label:hover,
#modify-modal form .first-row .second-column .upload-remove-btn label:hover {
  cursor: pointer;
}
#add-modal form .first-row .second-column .upload-remove-btn button,
#modify-modal form .first-row .second-column .upload-remove-btn button {
  width: 120px;
  font-size: 0.6rem;
  font-weight: 700;
  padding: 6px 0;
  color: #FFFFFF;
  background-color: #ED1C25;
  border-radius: 4px;
}
#add-modal form .first-row .second-column .upload-remove-btn button:hover,
#modify-modal form .first-row .second-column .upload-remove-btn button:hover {
  cursor: pointer;
}
#add-modal form .second-row,
#modify-modal form .second-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#add-modal form .second-row input,
#modify-modal form .second-row input {
  font-size: 0.6rem;
  font-weight: 700;
  padding: 7px 57px;
  color: #FFFFFF;
  background-color: #2E7D32;
  border-radius: 4px;
}
#add-modal form .second-row input:hover,
#modify-modal form .second-row input:hover {
  cursor: pointer;
}
#add-modal .close-btn,
#modify-modal .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 26px;
  background: none;
}
#add-modal .close-btn:hover,
#modify-modal .close-btn:hover {
  cursor: pointer;
}

.overlay {
  justify-content: center;
  align-items: center;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#pop-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  width: 300px;
  height: 80px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 16px;
  font-size: 0.5rem;
}
#pop-up p {
  display: inline;
  text-align: center;
  width: 100%;
}
#pop-up .pop-up-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}
#pop-up .pop-up-buttons #confirm-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 22px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #ED1C25;
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
}
#pop-up .pop-up-buttons #cancel-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 22px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  color: #ED1C25;
}

.top-middle-pointer::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 155px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFFFFF transparent;
  transform: rotate(0deg);
}

.top-right-pointer::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 280px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFFFFF transparent;
  transform: rotate(0deg);
}

.bottom-middle-pointer::before {
  content: "";
  position: absolute;
  top: 112px;
  left: 155px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFFFFF transparent;
  transform: rotate(180deg);
}

.bottom-right-pointer::before {
  content: "";
  position: absolute;
  top: 112px;
  left: 280px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFFFFF transparent;
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  header svg:last-of-type {
    display: block;
  }
  #main-container {
    padding: 15px;
    height: calc(100% - 80px);
  }
  main #table-wrapper {
    height: calc(100% - 120px);
  }
  #user-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    gap: 10px;
    font-size: 0.5rem;
    top: 20px;
    left: 70px;
    transform: translate(-50%, 0);
  }
  nav {
    border-radius: 0;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  aside {
    position: fixed;
    left: -100%;
    top: 50px;
    min-width: 100%;
    z-index: 1;
    transition: 0.3s;
  }
  aside.active {
    left: 0;
  }
  main {
    width: calc(100% - 35px);
  }
  table {
    overflow-x: scroll;
  }
  #table-wrapper {
    overflow-x: scroll;
  }
  #add-modal,
  #modify-modal {
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    padding: 20px;
  }
  #add-modal form,
  #modify-modal form {
    padding-top: 20px;
  }
  #add-modal form .first-row,
  #modify-modal form .first-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #add-modal form .first-row .first-column,
  #modify-modal form .first-row .first-column {
    gap: 25px;
    width: 100%;
  }
  #add-modal form .first-row .second-column .upload-remove-btn,
  #modify-modal form .first-row .second-column .upload-remove-btn {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 1366px) {
  aside {
    width: 30%;
  }
}/*# sourceMappingURL=inventory-page.css.map */