@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
#main-container-inventory {
  background-color: #FFFFFF;
  width: 80%;
  border-radius: 20px;
  padding: 23px 18px 39px 18px;
  position: relative;
}
#main-container-inventory .search-add-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
}
#main-container-inventory .search-add-container .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #000000;
}
#main-container-inventory .search-add-container .search #search-btn {
  background: none;
  cursor: pointer;
}
#main-container-inventory .search-add-container .search #search-btn svg {
  height: 11px;
  width: 11px;
}
#main-container-inventory .search-add-container form {
  display: flex;
  height: 20px;
}
#main-container-inventory .search-add-container form input {
  font-size: 0.5rem;
  width: 60%;
  outline: none;
}
#main-container-inventory .search-add-container #add-btn {
  font-size: 0.5rem;
  line-height: 24px;
  padding: 5px 24px;
  background-color: #2E7D32;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  width: 150px;
}
#main-container-inventory .search-add-container #add-btn:hover {
  cursor: pointer;
}
#main-container-inventory #table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 39px;
  border: 1px solid #B3B3B3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: calc(100vh - 282px);
  overflow: scroll;
}
#main-container-inventory table {
  min-width: 100%;
  border-collapse: collapse;
  overflow: scroll;
}
#main-container-inventory table th {
  font-size: 0.5rem;
  border-bottom: 1px solid #B3B3B3;
}
#main-container-inventory table tr {
  border-bottom: 1px solid #B3B3B3;
}
#main-container-inventory table tr:last-of-type {
  border-bottom: none;
}
#main-container-inventory table td {
  position: relative;
  font-size: 0.5rem;
  height: 10%;
}
#main-container-inventory table th,
#main-container-inventory table td {
  padding: 20px;
  text-align: left;
  white-space: nowrap;
}
#main-container-inventory table th:nth-child(1),
#main-container-inventory table td:nth-child(1) {
  width: 5%;
}
#main-container-inventory table th:nth-child(2),
#main-container-inventory table td:nth-child(2) {
  width: 50%;
}
#main-container-inventory table th:nth-child(3),
#main-container-inventory table td:nth-child(3) {
  width: 15%;
}
#main-container-inventory table th:nth-child(4),
#main-container-inventory table td:nth-child(4) {
  width: 10%;
}
#main-container-inventory table th:nth-child(5),
#main-container-inventory table td:nth-child(5) {
  width: 10%;
}
#main-container-inventory table th:nth-child(6),
#main-container-inventory table td:nth-child(6) {
  width: 5%;
}
#main-container-inventory table .table-actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#main-container-inventory table .table-actions button {
  width: 12px;
  height: 12px;
  background: none;
}
#main-container-inventory table .table-actions button:hover {
  cursor: pointer;
}
#main-container-inventory table .table-actions button > svg {
  pointer-events: none;
}
#main-container-inventory #pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #B3B3B3;
  border-left: 1px solid #B3B3B3;
  border-right: 1px solid #B3B3B3;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 57px;
  padding-right: 20px;
}
#main-container-inventory #pagination #pagination-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}
#main-container-inventory #pagination #pagination-controls span {
  font-size: 0.5rem;
}
#main-container-inventory #pagination #pagination-controls button {
  background: none;
}
#main-container-inventory #pagination #pagination-controls button:hover {
  cursor: pointer;
}

#add-modal,
#modify-modal {
  position: relative;
  width: 550px;
  height: 650px;
  padding: 55px 20px 55px 50px;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}
#add-modal h1,
#modify-modal h1 {
  font-size: 0.8rem;
  font-weight: 700;
}
#add-modal form,
#modify-modal form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 50px;
}
#add-modal form label,
#modify-modal form label {
  font-size: 0.5rem;
  color: #9A9A9A;
}
#add-modal form .input-container,
#modify-modal form .input-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
#add-modal form .first-row,
#modify-modal form .first-row {
  display: flex;
  flex-direction: row;
}
#add-modal form .first-row .first-column,
#modify-modal form .first-row .first-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
}
#add-modal form .first-row .first-column input,
#modify-modal form .first-row .first-column input {
  width: 100%;
  height: 20px;
  font-size: 0.5rem;
  border-bottom: 1px solid #9A9A9A;
  outline: none;
}
#add-modal form .first-row .first-column input #initial-option:checked,
#modify-modal form .first-row .first-column input #initial-option:checked {
  color: #2E7D32;
}
#add-modal form .first-row .first-column textarea,
#modify-modal form .first-row .first-column textarea {
  font-size: 0.5rem;
  border-bottom: 1px solid #9A9A9A;
  outline: none;
  resize: none;
}
#add-modal form .first-row .first-column select,
#modify-modal form .first-row .first-column select {
  width: 100%;
  height: 20px;
  font-size: 0.5rem;
  border-bottom: 1px solid #9A9A9A;
  outline: none;
  color: #757575;
}
#add-modal form .first-row .first-column select option,
#modify-modal form .first-row .first-column select option {
  color: #000000;
}
#add-modal form .first-row .second-column,
#modify-modal form .first-row .second-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
}
#add-modal form .first-row .second-column img,
#modify-modal form .first-row .second-column img {
  width: 260px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
#add-modal form .first-row .second-column .upload-remove-btn,
#modify-modal form .first-row .second-column .upload-remove-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#add-modal form .first-row .second-column .upload-remove-btn .hidden-upload-input,
#modify-modal form .first-row .second-column .upload-remove-btn .hidden-upload-input {
  display: none;
}
#add-modal form .first-row .second-column .upload-remove-btn label,
#modify-modal form .first-row .second-column .upload-remove-btn label {
  width: 120px;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 700;
  padding: 6px 0;
  color: #FFFFFF;
  background-color: #ED6C02;
  border-radius: 4px;
}
#add-modal form .first-row .second-column .upload-remove-btn label:hover,
#modify-modal form .first-row .second-column .upload-remove-btn label:hover {
  cursor: pointer;
}
#add-modal form .first-row .second-column .upload-remove-btn button,
#modify-modal form .first-row .second-column .upload-remove-btn button {
  width: 120px;
  font-size: 0.6rem;
  font-weight: 700;
  padding: 6px 0;
  color: #FFFFFF;
  background-color: #ED1C25;
  border-radius: 4px;
}
#add-modal form .first-row .second-column .upload-remove-btn button:hover,
#modify-modal form .first-row .second-column .upload-remove-btn button:hover {
  cursor: pointer;
}
#add-modal form .second-row,
#modify-modal form .second-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#add-modal form .second-row input,
#modify-modal form .second-row input {
  font-size: 0.6rem;
  font-weight: 700;
  padding: 7px 57px;
  color: #FFFFFF;
  background-color: #2E7D32;
  border-radius: 4px;
}
#add-modal form .second-row input:hover,
#modify-modal form .second-row input:hover {
  cursor: pointer;
}
#add-modal .close-btn,
#modify-modal .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 26px;
  background: none;
}
#add-modal .close-btn:hover,
#modify-modal .close-btn:hover {
  cursor: pointer;
}

#pop-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  width: 280px;
  height: 80px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 16px;
  font-size: 0.5rem;
}
#pop-up p {
  display: inline;
  text-align: left;
  width: 100%;
}
#pop-up .pop-up-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}
#pop-up .pop-up-buttons #confirm-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 22px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #ED1C25;
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
}
#pop-up .pop-up-buttons #cancel-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 22px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  color: #ED1C25;
}

.top-middle-pointer::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 155px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFFFFF transparent;
  transform: rotate(0deg);
}

.top-right-pointer::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 272px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFFFFF transparent;
  transform: rotate(0deg);
}

.bottom-middle-pointer::before {
  content: "";
  position: absolute;
  top: 112px;
  left: 155px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFFFFF transparent;
  transform: rotate(180deg);
}

.bottom-right-pointer::before {
  content: "";
  position: absolute;
  top: 112px;
  left: 272px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFFFFF transparent;
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  #main-container-inventory {
    width: calc(100% - 35px);
  }
  #main-container-inventory #table-wrapper {
    height: calc(100% - 120px);
  }
  table {
    overflow-x: scroll;
  }
  #table-wrapper {
    overflow-x: scroll;
  }
  #add-modal,
  #modify-modal {
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    padding: 20px;
  }
  #add-modal form,
  #modify-modal form {
    padding-top: 20px;
    gap: 30px;
  }
  #add-modal form .first-row,
  #modify-modal form .first-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #add-modal form .first-row .first-column,
  #modify-modal form .first-row .first-column {
    gap: 15px;
    width: 100%;
  }
  #add-modal form .first-row .second-column,
  #modify-modal form .first-row .second-column {
    margin-top: 25px;
  }
  #add-modal form .first-row .second-column .upload-remove-btn,
  #modify-modal form .first-row .second-column .upload-remove-btn {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=inventory-page.css.map */