@import '../abstracts/mixins';
@import '../base/colors';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$background-color: #FFFFFF;

//// Items section styles ////

#main-container-inventory {
    background-color: var(--color-background);
    width: 80%;
    border-radius: 20px;
    padding: 23px 18px 39px 18px;
    position: relative;

    // Search and add item styles

    .search-add-container {
        @include displayFlex();
        @include flexProperties(flex-end, flex-end);
        gap: 15px;

        // Search styles

        .search {
            @include displayFlex();
            @include flexProperties(center, center);
            gap: 10px;
            border-bottom: 1px solid var(--color-text);

            #search-btn {
                background: none;
                cursor: pointer;

                svg {
                    height: 11px;
                    width: 11px;
                    color: var(--color-text);
                }
            }
        }

        form {
            display: flex;
            height: 20px;

            input {
                font-size: 0.5rem;
                width: 100%;
                outline: none;
                background-color: var(--color-background);
                color: var(--color-text);
            }
        }

        // Add item button styles

        #add-btn {
            font-size: 0.5rem;
            line-height: 24px;
            padding: 5px 24px;
            background-color: #2E7D32;
            border-radius: 4px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
            color: #FFFFFF;
            width: 150px;
        }

        #add-btn:hover {
            cursor: pointer;
        }
    }

    // Items table styles

    #table-wrapper {
        @include displayFlex(column);
        @include flexProperties(space-between);
        margin-top: 39px;
        border: 1px solid #B3B3B3;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        height: calc(100vh - 282px);
        overflow: scroll;
    }

    table {
        min-width: 100%;
        border-collapse: collapse;
        overflow: scroll;

        th {
            font-size: 0.5rem;
            border-bottom: 1px solid #B3B3B3;
            color: var(--color-text);
        }

        tr {
            border-bottom: 1px solid #B3B3B3;
        }

        tr:last-of-type {
            border-bottom: none;
        }

        td {
            position: relative;
            font-size: 0.5rem;
            height: calc(100% / 10);
            color: var(--color-text);
        }

        th,
        td {
            padding: 20px;
            text-align: left;
            white-space: nowrap;
        }

        // Table cells width styles

        th:nth-child(1),
        td:nth-child(1) {
            width: 5%;
        }

        th:nth-child(2),
        td:nth-child(2) {
            width: 50%;
        }

        th:nth-child(3),
        td:nth-child(3) {
            width: 15%;
        }

        th:nth-child(4),
        td:nth-child(4) {
            width: 10%;
        }

        th:nth-child(5),
        td:nth-child(5) {
            width: 10%;
        }

        th:nth-child(6),
        td:nth-child(6) {
            width: 5%;
        }

        // Modify and delete item button styles

        .table-actions {
            @include displayFlex();
            gap: 20px;

            button {
                width: 12px;
                height: 12px;
                background: none;
            }

            button:hover {
                cursor: pointer;
            }

            button>svg {
                pointer-events: none;
            }
        }
    }

    // Pagiantion styles

    #pagination {
        @include displayFlex();
        @include flexProperties(flex-end, center);
        border-bottom: 1px solid #B3B3B3;
        border-left: 1px solid #B3B3B3;
        border-right: 1px solid #B3B3B3;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        height: 57px;
        padding-right: 20px;

        // Pagination controls styles

        #pagination-controls {
            @include displayFlex();
            @include flexProperties(flex-end, center);
            gap: 10px;
            width: 100%;

            span {
                font-size: 0.5rem;
                color: var(--color-text);
            }

            button {
                background: none;
            }

            button:hover {
                cursor: pointer;
            }
        }
    }
}

// Responsive styles

@media (max-width: 768px) {
    #main-container-inventory {
        width: calc(100% - 35px);

        #table-wrapper {
            height: calc(100% - 120px);
        }
    }

    table {
        overflow-x: scroll;
    }

    #table-wrapper {
        overflow-x: scroll;
    }
}